body {
  margin: 0px;
}
img {
  display: flex;
  margin: auto;
  width: 90%;
    }
h2 {
  position: absolute;
  margin-top: 290px;
  margin-left: 400px;
  font-size: 40px;
  }
h1{
  position: absolute;
  margin-top: 350px;
  margin-left: 400px;
  font-size: 56px;
}
h1,h2,blockquote {
  font-family: 'Abril Fatface', cursive;
  color: #222;
 }
h3 {
  font-size: 50px;
    }

p,ul,h3,h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  line-height: 20px;
  }
h4 {
  font-size: 30px;
  font-weight: bolder;
  line-height: 40px;
  }

h5, sub {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
    }
main {
  width:900px;
  margin-left:auto;
  margin-right:auto;
    }

blockquote {
  background: black;
  color: white;
  font-size: 50px;
  line-height: 200%;
  padding: 50px;
  position: relative;
}
blockquote::before {
  position: absolute;
  content: '”';  
  margin-top: -100px; 
  margin-left: -50px;
  font-size: 150px;
  transform: scale(-1, -1);
  }

.vonal{
  background: black;
  height: 3px;
  width: 900px;
}
.balful {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
 padding: 20px;
  
  background: lightgrey;
  border-radius: 80%;
  text-align: center;
  
  position: fixed;
  top: 50%;
  left: -115px;
   }
.balful:hover {
  background: grey;
  left: -70px;
  }
.jobbful {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
 padding: 20px;
  
  background: lightgrey;
  border-radius: 80%;
  text-align: center;
  
  position: fixed;
  top: 50%;
  right: -115px;
   }
.jobbful:hover {
  background: grey;
  right: -70px;
  }